Repository dh-racheldean/rd-test-semver, changes with the labels that .github/labeler.yml gives for each.
All labels: config, core, airflow

airflow version
  airflow.version
Labels: core, airflow

apply on main push
  .github/workflows/labeler.yml
Labels: core

branch
  .github/workflows/labeler.yml
Labels: core

single versioner
  .github/workflows/bump_minor.yml
  .github/workflows/bump_patch.yml
  .github/workflows/bump_semver.yml
Labels: core

fixit
  .github/workflows/bump_semver.yml
Labels: core

fixit
  dags/empty
Labels: config

try this one
  .github/workflows/bump_semver.yml
Labels: core

ffs
  .github/workflows/bump_semver.yml
Labels: core

dag change
  dags/empty
Labels: config

run on the pr
  .github/workflows/bump_semver.yml
Labels: core

dag change
  dags/empty
Labels: config

bump airflow version
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/called_task.yml
Labels: core

try calling
  .github/workflows/called_task.yml
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

try calling
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

try calling
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

try calling
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/called_task.yml
Labels: core

try calling
  .github/workflows/bump_semver.yml
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
  .github/workflows/called_task.yml
Labels: core

try calling
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/called_task.yml
Labels: core

try calling
  .github/workflows/bump_semver.yml
Labels: core

try calling
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

sdf
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

sdf
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/bump_semver.yml
Labels: core

sdf
  airflow.version
Labels: core, airflow

try calling
  .github/workflows/called_task.yml
Labels: core

try calling
  .github/workflows/called_task.yml
Labels: core

.github/labeler.yml:

config:
- dags/**

core:
- '!dags/**'

airflow:
- airflow.version
